$f:left;
$r:right;
$url:url(//img.mdcdn.cn/pc/img/mall/index_sprite.png?t=20171107);
%img_logo{
	display: block;
    width: 20px;
    height: 20px;
    background-image:$url;
}

#header{
    height: 44px;
    background: #0092d8;
    .logo{
        width:120px;
        height: 44px;
        float: $f;
        background-image:$url;
        background-position: 0 -245px;
    }
    ul{
        float: $f; 
        li{
            float: $f;
            a{
                color:#a3c3e6;
                text-align: center;
                text-decoration: none;
                line-height: 44px;
                display: block;
                &:hover{
                    color:#fff;
                }
            }
            .w_84{
                width: 84px;
            }
            .w_108{
                width: 108px;
            }
            .w_132{
                width: 132px;
            }
            .w_120{
                width: 120px;
            }
        }
    }
    .header_right{
        float: $r;
        .search_wrap{
            float: $f;
            width: 75px;
            height: 44px;
            position: relative;
            form{
                width: 75px;
                height: 43px;
                .search_ul{
                    z-index: 10;
                    width: 0;
                    position: absolute;
                    left: -175px;
                    top: 42px;
                    padding:0 10px;
                    background-color: #fff;
                    ul{
                        float: none;
                        line-height:40px;
                        li{
                            float: none;
                            border-top: 1px solid #ccc;
                            margin-top: 5px;
                            text-indent: 10px;
                            list-style: none;
                            a{
                                color: #333;
                                text-align: justify;
                                &:hover{
                                    color: red;
                                }
                            }
                        }
                    }
                }
                
            }
            .search_wrap_box{
                display: block;
                height: 43px;
                width: 0;
                position: relative;
                .search_wrap_box_icon{
                    background-image: url(//img.mdcdn.cn/pc/img/mall/index_sprite.png?t=20171107);
                    background-repeat: no-repeat;
                    top: 12px;
                    left: 10px;
                    background-position: -66px -215px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    opacity: 0;
                    
                }
            }
            .out_i{
                @extend %img_logo;
                top: 12px;
                right: 30px;
                background-position: -96px -215px;
                position: absolute;
            } 
            form input{
                width: 205px;
                height: 43px;
                position: absolute;
                border:0 none;
                border-bottom: 1px solid #ccc;
                right:0px;
                width: 0;
                i{
                    top: 12px;
                    width: 20px;
                    height: 20px;
                    left: 10px;
                    background-position: -66px -215px;
                    background-image: $url;
                    position: absolute;
                    right: 30px;
                    @extend %img_logo;
                }
            }
        }
        .phone{
            float: $f;
            width: 65px;
            height: 44px;
            position: relative;
            &:hover{
                .code_box{
                    display: block;
                    z-index: 10;
                }
            }
            i{
                @extend %img_logo;
                margin:12px auto;
                background-position: -120px -215px;
            }
            .code_box{
                position: absolute;
                left:-62.5px;
                display: none;
                img{
                    width: 190px;
                    height: 262px;
                }
            }
        }
        .shopper{
            float: $f;
            width: 65px;
            height: 44px;
            i{
                @extend %img_logo;
                margin:12px auto;
                background-position: -146px -215px;
            }
        }
        .login_reg{
            float: $f;
            height: 44px;
            line-height: 44px;
            width: 86px;
            position: relative;
            .out_reg{
                z-index: 5;
                width: 100%;
                height: 40px;
                position: absolute;
                left: 0;
                background: #0092d8;
                text-align: center;
                line-height: 40px;
                color: #fff;
                border: 1px solid #ccc;
                display: none;
            }
            a{
                color:#fff;
            }
            i{
                @extend %img_logo;
                float: $f;
                background-image: $url;
                background-position: -35px -216px;
                margin: 12px auto;
                margin-left: 20px;
            }
        }
        .head_hover{
            &:hover{
                background-color: #006fa3;
            }
        }
    }
}
#notice{
    height:16px;
    padding: 4px;
    background: rgb(0, 59, 102);
        text-align: center;
        color:#fff;
        line-height: 16px;
}